@model IEnumerable<Tarefas.Web.Models.TarefaViewModel>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarefa</th>
      <th scope="col">Descricao</th>
      <th scope="col">Detalhes</th>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
         <td>
            @item.Id
        </td>
        <td>
            @item.Titulo
        </td>
        <td>
            @item.Descricao
        </td>
        <td>
            <a asp-controller="Tarefa" as-action="Details" asp-route-id="@item.Id">Detalhes</a>
        </td>
    </tr>
    }
</table>